.headerTable__wrapper {
    display: flex;
    background-color: #474955;
    margin-top: 15px;
    padding-right: 211px;
    padding-top: 19px;
    padding-bottom: 16px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.headerTable__infoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerTable__headerArrow {
    width: 12px;
    height: 12px;
    margin-left: 40px;
    transform: rotate(180deg);
}

.headerTable__idBlock {
    width: 10%;
}

.headerTable__titleBlock {
    width: 49%;
}

.headerTable__descriptionBlock {
    width: 41%;
}
