.mainTable__tr {
    min-height: 56px;
    border: 1px solid #E3E6EC;
    font-size: 18px;
}

.mainTable__tr > td {
    padding: 15px 12px 14px 11px;
}

.mainTable__id {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #E3E6EC;
    height: 100px;
}

.mainTable__title {
    width: 25%;
    border-right: 1px solid #E3E6EC;
}

.mainTable__body {
    width: 55%;
}