.mainTable__tr {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E3E6EC;
    font-weight: 500;
    font-size: 13px;
    color: #474955;
    width: 100%;
}

.mainTable__tr > td:nth-child(1) {
    width: 10%;
    border-right: 1px solid #E3E6EC;
}

.mainTable__tr > td:nth-child(2) {
    width: 49%;
    border-right: 1px solid #E3E6EC;
}

.mainTable__tr > td:nth-child(3) {
    width: 41%;
}